
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024, initial-scale=1">
    <title>Provident Report Generation Utility</title>
    @Styles.Render("~/Content/css/styles")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@

    <link href="~/AdminLTE/bootstrap/css/bootstrap-login.css" rel="stylesheet" />

</head>
<body>

    <div class="container">

        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="~/logo.png"   />
            <p id="profile-name" class="profile-name-card">Provident Report Generation Utility</p>

            @*<a href="@Url.Action("Index", "Login")">Welcome to <b>Pag-IBIG Fund</b></a>*@

            

            @RenderBody()

        </div>

    </div>
    @Scripts.Render("~/AdminLTE/plugins/jquery/script")
    @Scripts.Render("~/AdminLTE/bootstrap/script")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/script")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/script")
    @Scripts.Render("~/AdminLTE/dist/script")
    @RenderSection("scripts", required: false)
</body>

</html>